:root {
  --header-font: 'Dancing Script', cursive;
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--header-font);
  font-size: 30px;
}

.title p {
  font-size: 20px;
}

nav {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: space-between;
}

.logo img {
  height: 100px;
  width: 130px;
}

.logo img:hover {
  cursor: pointer;
}




nav h2 {
  font-family: var(--header-font);
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}

nav ol li {
  font-family: var(--header-font);
  color: black;
  padding-bottom: 15px;

}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.form p {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  font-family: var(--header-font);
  font-size: 20px;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px 20px;
  border: solid;
  border-radius: 4px;
  border-color: #d8c3a5;
}

::-webkit-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgb(47, 42, 42);
  size: 20px;
}

.input {
  font-family: var(--header-font);
  color: black;
  padding: 10px;
  cursor: pointer;
  background-color: #d8c3a5;
  border-radius: 4px;
}

.input:hover {
  border-color: #8E8D8A;
  background-color: #8E8D8A;
}

body {
  background-image: url(../images/mainBackround.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-suggestions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.content-text {
  width: 200px;
  margin-left: 30px;
}

.content-text h2 {
  font-family: var(--header-font);
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

.img {
  display: flex;
  justify-content: space-between;

  margin-bottom: 60px;
}

.img img {
  width: 300px;
  height: 250px;
  border-radius: 50%;
}

.menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.menu h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--header-font);

}

.menu ol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer {
  height: 30px;
}