.container {
  max-width: 1160px;
  margin: 0 auto;
}

.form p {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px 20px;
  border: solid;
  border-radius: 4px;
  border-color: chocolate;
}

::-webkit-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgb(47, 42, 42);
  size: 20px;
}

.input {
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  background-color: chocolate;
}

.input:hover {
  border-color: #63d24d;
  background-color: #63d24d;


}